<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705064728296-gkdp5aa40c4dk1888nj6dopj5njabdc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705064728296-gkdp5aa40c4dk1888nj6dopj5njabdc8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>705064728296-62bs17dooq2p9drs4nfgnul4k3ecrptd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAU0mNuvXMb1j1QJUVXjIz9zVPNZ3qqT34</string>
	<key>GCM_SENDER_ID</key>
	<string>705064728296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panscience.inspireai</string>
	<key>PROJECT_ID</key>
	<string>inspire-ai-40690</string>
	<key>STORAGE_BUCKET</key>
	<string>inspire-ai-40690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705064728296:ios:18951d6ace8e348da9bb5d</string>
	<key>DATABASE_URL</key>
	<string>https://inspire-ai-40690-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>